<link rel="import" href="x-element.html">
<link rel="import" href="expense-categories.html">
<link rel="import" href="floating-label-decorator.html">
<x-element name="expense-entry">
    <template id="root">
        <style scoped>
            label {
                display: block;
                font-size: 10pt;
                color: #666;
                margin-bottom: 0;
                margin-top: -14px;
            }
        </style>
        <div class="form-group">
            <expense-categories id="categoryInput"></expense-categories>
        </div>
        <floating-label-decorator>
            <input id="sumInput" class="form-control" placeholder="Сумма" type="number">
        </floating-label-decorator>
        <floating-label-decorator>
            <input id="descriptionInput" class="form-control" placeholder="Описание" type="text">
        </floating-label-decorator>
        <div class="form-group">
            <button type="button" id="addEntry" class="btn btn-primary">Добавить</button>
            <button type="button" id="resetEntry" class="btn btn-default">Очистить</button>
        </div>
    </template>
</x-element>