<link rel="import" href="x-element.html">
<x-element name="expense-categories">
    <template id="root">
        <style scoped>
            #categoryContainer {
                width: 100%;
                padding: 0;
            }
            .category-item {
                width: 100%;
                padding: 10px;
                border: 1px solid #cccccc;
                background-color: #ffffff;
                cursor: pointer;
                box-sizing: border-box;
                border-radius: 4px;
            }
            .category-text {
                overflow: hidden;
                height: 20px;
                width: 100%;
                box-sizing: border-box;
            }
            .category-item-selected {
                border-color: #2e6da4;
                background-color: #337ab7;
                color: #ffffff;
            }
            .custom-category-entry {
                border: 0;
                outline: none;
                width: 100%;
                height: 20px;
                box-sizing: border-box;
                background: transparent;
            }
            .category-frame {
                border: 1px solid #ffffff;
                padding: 0;
            }
        </style>
        <div id="categoryContainer" class="container-fluid">
        </div>
        <div class="category-frame col-xs-12">
            <div class="category-item custom-category">
                <input name="category" type="text" class="custom-category-entry" placeholder="*другая">
            </div>
        </div>
    </template>
    <template id="item">
        <div class="category-frame col-lg-4 col-md-2 col-sm-3 col-xs-6">
            <div class="category-item">
                <div class="category-text"></div>
            </div>
        </div>
    </template>
</x-element>