<link rel="import" href="x-element.html">
<x-element name="floating-label-decorator">
    <template id="root">
        <div class="form-group">
            <label class="control-label"></label>
        </div>
    </template>
</x-element>