<link rel="import" href="x-element.html">
<x-element name="latest-expenses">
    <template id="root">
        <style scoped>
            table {
                width: 100%
            }
        </style>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead><tr>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Категория</th>
                    <th>Описание</th>
                </tr></thead>
                <tbody></tbody>
            </table>
        </div>
    </template>
    <template id="row">
        <tr>
            <td name="timestamp"></td>
            <td name="sum"></td>
            <td name="category"></td>
            <td name="description"></td>
        </tr>
    </template>
</x-element>